<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Alteração de Cores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [style.--background]="backgroundColor" class="ion-padding">

  <h2>Controle de Cores</h2>

  <ion-item>
    <ion-label>R</ion-label>
    <ion-range min="0" max="255" [(ngModel)]="r"></ion-range>
  </ion-item>

  <ion-item>
    <ion-label>G</ion-label>
    <ion-range min="0" max="255" [(ngModel)]="g"></ion-range>
  </ion-item>

  <ion-item>
    <ion-label>B</ion-label>
    <ion-range min="0" max="255" [(ngModel)]="b"></ion-range>
  </ion-item>

  <ion-button
    expand="block"
    (click)="mudarCorBotao()"
    [style.--background]="buttonColor"
    style="color: rgb(0, 0, 0);">
    Mudar cor do botão
  </ion-button>

  <ion-button expand="block" (click)="mudarFundo()">
    Mudar fundo
  </ion-button>

  <ion-button expand="block"  (click)="resetarCores()">
    Resetar cores
  </ion-button>

  <ion-button expand="block" routerLink="/home">
    Voltar
  </ion-button>

</ion-content>
