<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>Sobre a disciplina</h2>

  <p>
    A disciplina de desenvolvimento front-end tem como objetivo ensinar os conceitos
    básicos de criação de interfaces para aplicações web e mobile. Durante as aulas,
    são abordadas tecnologias como HTML, CSS e frameworks modernos, como o Ionic,
    que permitem o desenvolvimento de aplicativos híbridos.
  </p>

  <p>
    Este projeto foi desenvolvido como parte das atividades da disciplina, com o objetivo
    de praticar a criação de telas, navegação entre páginas e organização de código.
  </p>

  <ion-button expand="block" routerLink="/home">
    Voltar para o início
  </ion-button>

</ion-content>